// ================================================================================
// INDEX
// ================================================================================

.l-main {
    background-color: var(--color-palette-background);
    width: 100%;
    height: auto;
    min-height: 100vh;
}

.l-container {
    width: 100%;
    max-width: 765px;
    margin: 0 auto;
}
